body, html {
    width: 100%;
    margin: 0;
    background-color: #F5F5DC;
}

.container {
    width: 100%; 
    max-width: 600px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    height: 80%;
    padding: 10px; 
}

.logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    margin-top: 5%; 
}

.logo img {
    height: 90px; 
    width: auto; 
}

.logo h1 {
    font-family: Inrina, serif;
    font-size: 5em; 
    margin: 0; 
}

.tagline {
    font-family: Inrina, sans-serif;
    font-size: 3em;
    margin: 20px 0; 
    color: #6c6c6c; 
}

.auth-options {
    margin-bottom: 5%; 
}

.sign-in {
    height: 45px; 
    width: auto; 
}

.auth-option {
    width: 240px; 
    margin-bottom: 20px; 
    cursor: pointer;
    display: block; 
}

.auth-option:hover {
    opacity: 0.9; 
}


iframe {
    transform: scale(1.75);
}

main { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: mid1;
    grid-column-end: mid2;
}

.logo-container img {
    width: 4em;
    height: 4em;
}

.logo-container h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1em [ini] 13em [mid1] 1fr [mid2] 13em [end] 1em;
    grid-template-rows: 1fr;
}

nav .user-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: mid2;
    grid-column-end: end;
}

nav .user-options-container i {
    background-color: burlywood;
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1em;
}

section {
    background-color: antiquewhite;
    width: 100%;
    height: max-content;
}