@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --space: 4em;
    --primary: #F5F5DC;
    --secondary: #3D405B;
    --tertiary: #E07A5F;
}

body, html {
    width: 100%;
    margin: 0;
    background-color: var(--primary)
}

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%; 
    max-width: 600px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; 
    height: 80%;
    padding: 10px; 
}

.logo {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 
    margin-top: 5%; 
}

.logo img {
    height: 90px; 
    width: auto; 
}

.logo h1 {
    font-family: Inrina, serif;
    font-size: 5em; 
    margin: 0; 
}

.tagline {
    font-family: Inrina, sans-serif;
    font-size: 3em;
    margin: 20px 0; 
    color: #6c6c6c; 
}

.auth-options {
    margin-bottom: 5%; 
}

.sign-in {
    height: 45px; 
    width: auto; 
}

.auth-option {
    width: 240px; 
    margin-bottom: 20px; 
    cursor: pointer;
    display: block; 
}

.auth-option:hover {
    opacity: 0.9; 
}


iframe {
    transform: scale(1.75);
}

main { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

nav .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column-start: mid1;
    grid-column-end: mid2;
}

.logo-container img {
    width: 4em;
    height: 4em;
}

.logo-container h1 {
    font-size: 4em;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: var(--space) [ini] 15em [mid1] 1fr [mid2] 15em [end] var(--space);
    grid-template-rows: 1fr;
}

nav .user-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: mid2;
    grid-column-end: end;
}

nav .user-options-container i, .user-groups-options i {
    padding: 1em;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1em;
    background-color: var(--tertiary);
}

section {
    width: 100%;
    height: max-content;

    display: grid;
    grid-template-columns: var(--space) [ini] 1fr [mid] 20em [end] var(--space);
    grid-template-rows: 1fr;
    margin-top: 1em;
}

section .user-results {
    grid-column-start: ini;
    grid-column-end: mid;

    background-color: beige;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section .user-results-favorites {
    grid-column-start: ini;
    grid-column-end: mid;

    background-color: beige;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

section .user-groups {
    grid-column-start: mid;
    grid-column-end: end;
}

.user-card {
    height: 3em;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-card .user-card-name {
    margin-left: 0.5em;
    padding-left: 0.5em;
    height: 100%;
    width: calc(100% - 4.5em);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: white;
}

.user-card .user-card-image {
    width: 3em;
    height: 3em;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-left: 1em;
}

.result-card {
    border-radius: 20px;
    overflow: hidden;
    width: 20em;
    height: 22em;
    background-color: var(--secondary);
    margin-right: 1em;
    margin-bottom: 1em;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 13.75em 1fr;

    box-shadow: 0 0 40px rgba(5,5,38,0.1);
}

.result-card .result-card-image {
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
}

.result-card .result-card-image i {
    font-size: 2.5em;
    margin: 0.25em;
    color:yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    cursor: pointer;
}

.result-card .result-card-desc > *, .result-card .result-card-desc .stars-container p {
    margin: 0;
    padding: 0;
    color: white;
}

.result-card .result-card-desc h1 {
    margin-top: 0.5em;
    font-size: 1.75em;
}

.result-card .result-card-desc h2 {
    font-size: 1.25em;
}

.result-card .result-card-desc h3 {
    font-size: 1em;
}

.result-card .result-card-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.result-card .result-card-desc .stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.25em 0;
}

.refresh-options {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em;
}

.button {
  align-items: center;
  background-color: var(--tertiary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button span {
  font-family: 'Roboto', 'sans-serif' !important;
}

.button:hover,
.button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button:active {
  background-color: #f9967b;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
}

/*
.preferences-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #F5F5DC; 
    border-radius: 10px;
}

.preferences-title {
    text-align: center;
    font-size: 2em;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group select, .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.sidebar {
    position: fixed;
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #F5F5DC; 
    padding: 20px;
}

.sidebar a {
    display: block;
    margin-bottom: 10px;
}
*/

.action-icons {
    cursor: pointer;
}

.action-icons:not(:last-child) {
    margin-right: 10px;
}