{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Favorites</h2>
    <p id="loadHeader" class="mb-4">Loading your favorites...</p>
    <div class="user-results" id="favoritesList">
    </div>

    </div>
</div>

<script >

document.addEventListener('DOMContentLoaded', function() {
    loadFavorites();
});

function loadFavorites() {
    fetch('/api/favorites', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    }).then(response => response.json())
      .then(favorites => {
          const favoritesList = document.getElementById('favoritesList');
          favoritesList.innerHTML = ''; 
          const loadHeader = document.getElementById('loadHeader');
          loadHeader.remove();
          if (favorites.length === 0) {
              const noFavorites = document.createElement('p');
              noFavorites.innerText = 'You have no favorites yet!';
              favoritesList.appendChild(noFavorites);
          }
          favorites.forEach(favorite => {
              const card = createFavoriteCard(favorite);
              favoritesList.appendChild(card);
          });
      });
}

function createFavoriteCard(restaurant) {
    const card = document.createElement("div");
    card.className = "result-card";
    card.style.height = "500px"
    card.innerHTML = `
        <div class="result-card-image" style="background-image: url(${restaurant.img_url});"><i id="fav-star" class="fa fa-star remove-option"></i></div>
        <div class="result-card-desc">
            <h1><a target='_blank' style='color: inherit;' href="${restaurant.url}">${restaurant.name}</a> </h1>
            <h2>${restaurant.address}</h2>
            <div class="stars-container">
        <i class="fa fa-star rating-star" style="display: none;"></i>
        <i class="fa fa-star rating-star" style="display: none;"></i>
        <i class="fa fa-star rating-star" style="display: none;"></i>
        <i class="fa fa-star rating-star" style="display: none;"></i>
        <i class="fa fa-star rating-star" style="display: none;"></i>
        <p class="stars-counter">${restaurant.rating} (${restaurant.num_reviews})</p>
    </div>
            <h3>${restaurant.reason}</h3>
        </div>
    `;
    // add appropriate amount of stars
    const stars = card.querySelectorAll('.rating-star');
    const rating = parseFloat(restaurant.rating);
    const fullStars = Math.round(rating);

    for (let i = 0; i < fullStars; i++) {
        stars[i].style.display = 'block';
    }

    const favStar = card.querySelector('#fav-star');
    favStar.addEventListener('click', function() {
        removeFavorite(restaurant.id, card);
    });

    return card
}

function generateStars(stars) {
    let starsHtml = '';
    for (let i = 0; i < 5; i++) {
        if (i < stars) {
            starsHtml += '<i class="fa fa-star"></i>';
        } else {
            starsHtml += '<i class="fa fa-star-o"></i>';
        }
    }
    return starsHtml;
}

function removeFavorite(restaurantId, cardElement) {
    fetch(`/api/favorites`, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({'restaurant_id': restaurantId}),
    }).then(response => {
        if (response.ok) {
            cardElement.remove(); 
        }
    });
}

</script>
{% endblock %}
