{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Groups</h2>
    <div id="groupsList" class="list-group">
    </div>

    <div class="modal fade" id="editGroupModal" tabindex="-1" aria-labelledby="editGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="editGroupModalLabel">Edit Group Members</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <ul id="groupMembersList" class="list-group">

            </ul>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
  
    
</div>

<script >

document.addEventListener('DOMContentLoaded', function() {
    loadGroups();
});

function loadGroups() {
    fetch('/api/groups', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    }).then(response => response.json())
      .then(groups => {
          const groupsList = document.getElementById('groupsList');
          groupsList.innerHTML = ''; 
          groups.forEach(group => {
              const groupItem = createGroupElement(group);
              groupsList.appendChild(groupItem);
          });
      });
}

function createGroupElement(group) {
    const groupDiv = document.createElement('div');
    groupDiv.className = 'list-group-item d-flex justify-content-between align-items-center';
    groupDiv.innerHTML = `
        <span class="group-name">${group.name}</span>
        <span>
            <i class="action-icons fas fa-edit"></i>
            <i class="action-icons fas fa-user-edit"></i>
            <i class="action-icons fas fa-trash-alt"></i>
        </span>
    `;
    const edit = groupDiv.querySelector('.fa-edit');
    edit.addEventListener('click', () => {
        editGroup(group.id)
    });
    groupDiv.querySelector('.fa-user-edit').addEventListener('click', (event) => {
        event.stopPropagation();

        renameGroup(group);
    });
    groupDiv.querySelector('.fa-trash-alt').addEventListener('click', (event) => {
        deleteGroup(group.id);
    });
    return groupDiv;
}

async function getUserFromID(userID) {
    const response = await fetch(`/api/user/${userID}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    });
    return response.json();
}

async function getGroupFromId(groupId) {
    const response = await fetch(`/api/groups/${groupId}`, {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        }
    });
    return response.json();
}

async function editGroup(groupId) {
    const group = await getGroupFromId(groupId)
    const groupMembersList = document.getElementById('groupMembersList');
    groupMembersList.innerHTML = ''; 
    let members = JSON.parse(group.members);
    members.forEach(async (memberID) => {
        member = await getUserFromID(memberID);
        console.log(member)
        const memberItem = document.createElement('li');
        memberItem.className = 'list-group-item d-flex justify-content-between align-items-center';
        memberItem.setAttribute('data-member-name', member.name);
        memberItem.innerHTML = `
            <img src="${member.avatar}" alt="${member.name}" class="rounded-circle" width="50" height="50">
            <span>${member.name}</span>
            <button id="remove-user-${memberID}" class="btn btn-danger btn-sm">Remove</button>
        `;
        const removeButton = memberItem.querySelector(`#remove-user-${memberID}`);
        removeButton.onclick = (function(member) {
            return function() {
                removeMember(groupId, member);
            }
        })(member);
        groupMembersList.appendChild(memberItem);
    });

    const editGroupModal = new bootstrap.Modal(document.getElementById('editGroupModal'), {
        keyboard: false
    });
    editGroupModal.show();
}

async function removeMember(groupId, member) {
    const group = await getGroupFromId(groupId);
    const groupMembersList = JSON.parse(group.members);
    const updatedMembers = groupMembersList.filter(memberID => memberID !== member.user_id);

    fetch(`/api/groups`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ group_id: group.id, name: group.name, members: updatedMembers })
    }).then(response => {
        if (response.ok) {
            document.querySelector(`[data-member-name="${member.name}"]`).remove();
        } else {
            alert('Could not remove the member. Please try again.');
        }
    }).catch(error => {
        console.error('Failed to update the group:', error);
    });
}

function renameGroup(group) {
    console.log('Renaming group', group.id);
    const newName = prompt('Enter new group name:');
    if (newName) {
        fetch('/api/groups', { 
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ group_id: group.id, name: newName, members: JSON.parse(group.members)})
        }).then(response => {
            if (response.ok) {
                loadGroups(); 
            } else {
                console.error('Error renaming group.');
            }
        }).catch(error => {
            console.error('Error renaming group:', error);
        });
    }
}

function deleteGroup(groupId) {
    if (confirm('Are you sure you want to delete this group?')) {
        fetch(`/api/groups/${groupId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            }
        }).then(response => {
            if (response.ok) {
                loadGroups(); 
            }
        });
    }
}



</script>
{% endblock %}