{% extends 'base.html' %} {% block content %}

<nav>
    <div></div>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/palate_pic.png') }}" alt="Palate Logo" />
        <h1>&nbsp;palate</h1>
    </div>
    <div class="user-options-container"><p>Hi, {{ user }}!</p>&nbsp;<i class="fa fa-gear"></i></div>
</nav>

<section>

    <div class="user-results">
        <div class="result-card">
            <div class="result-card-image" style="background-image: url(../static/images/donuts.jpg);"><i class="fa fa-star"></i></div>
            <div class="result-card-desc">
                <h1>Jupiter</h1>
                <h2>2181 Shattuck Ave</h2>
                <h3>Pizza</h3>
                <div class="stars-container">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <p class="stars-counter">(60)</p>
                </div>
            </div>
        </div>
        
        <div class="result-card">
            <div class="result-card-image" style="background-image: url(../static/images/donuts.jpg);"><i class="fa fa-star"></i></div>
            <div class="result-card-desc">
                <h1>Jupiter</h1>
                <h2>2181 Shattuck Ave</h2>
                <h3>Pizza</h3>
                <div class="stars-container">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <p class="stars-counter">(60)</p>
                </div>
            </div>
        </div>

        <div class="result-card">
            <div class="result-card-image" style="background-image: url(../static/images/donuts.jpg);"><i class="fa fa-star"></i></div>
            <div class="result-card-desc">
                <h1>Jupiter</h1>
                <h2>2181 Shattuck Ave</h2>
                <h3>Pizza</h3>
                <div class="stars-container">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <p class="stars-counter">(60)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="user-groups">
        <div class="selected-users">
            <div class="user-card">
                <div class="user-card-image" style="background-image: url(../static/images/sarah.jpeg);"></div>
                <div class="user-card-name"><p>Sarah Jones</p></div>
            </div>
            <div class="user-card">
                <div class="user-card-image" style="background-image: url(../static/images/sarah.jpeg);"></div>
                <div class="user-card-name"><p>Sarah Jones</p></div>
            </div>
        </div>
        <div class="user-groups-options">
            <i class="fa fa-plus"></i>
            <i class="fa fa-save"></i>
        </div>
        <div class="refresh-options">
            <button type="button" class="button">
                <i class="fa fa-rotate-right"></i>
                <span>&nbsp;Refresh</span>
            </button>
        </div>
    </div>

</section>


{% endblock %}
