{% extends 'base.html' %} {% block content %}

<nav>
    <div></div>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='images/palate_pic.png') }}" alt="Palate Logo" />
        <h1>&nbsp;palate</h1>
    </div>
    <a style='color: inherit; text-decoration: none' href="/preferences"><div class="user-options-container"><i class="fa fa-gear"></i></div></a>
</nav>

<section>

    <div class="user-results" id="restaurantCards">
        <div class="loading" id="loading" style="display: none;">
            <p>Loading...</p>
        </div>
    </div>


    <div class="user-groups">
        <div class="selected-users">
        </div>
        <div class="user-groups-options">
            <i class="fa fa-plus"></i>
            <i class="fa fa-group"></i>
            <i class="fa fa-save"></i>
            <i class="fa fa-map-marker" id="find-me"></i>
            <p id="status"></p>
            <a id="map-link" target="_blank" class="weather-date"></a>
        </div>
        <div class="refresh-options">
            <button disabled="true" type="button" class="button">
                <i class="fa fa-rotate-right"></i>
                <span>&nbsp;Generate</span>
            </button>
        </div>
    </div>

    <div class="modal fade" id="groupSelectModal" tabindex="-1" aria-labelledby="groupSelectModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="groupSelectModalLabel">Add Members from Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul id="groupList" class="list-group">
                        
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const generateButton = document.querySelector('.refresh-options button');
        generateButton.addEventListener('click', generate);

        const addButton = document.querySelector('.user-groups-options .fa-plus');
        addButton.addEventListener('click', promptAddUser);

        const saveGroupButton = document.querySelector('.user-groups-options .fa-save');
        saveGroupButton.addEventListener('click', promptGroupName);

        const loadGroupButton = document.querySelector('.user-groups-options .fa-group');
        loadGroupButton.addEventListener('click', loadAndShowGroups);

        let currentMembers = []
        let currentPreferences = {}
        let currentRestaurants = []
        let latitude = 0;
        let longitude = 0;
        
        window.onload = async function() {
            const user = await getCurrentUser();
            createUserCard(user.name, user.avatar);
            currentMembers.push(user.user_id);
            currentPreferences = await getAllPreferences()
            try {
                const [lat, long] = await geoFindMe();
                latitude = lat;
                longitude = long;
                console.log("Latitude:", latitude);
                console.log("Longitude:", longitude);

                const findMeIcon = document.querySelector("#find-me");
                findMeIcon.addEventListener("click", () => {
                    window.open(`https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`, "_blank"); // Open the map link in a new tab/window when the map-marker icon is clicked
                });
                generateButton.disabled = false;
            } catch (error) {
                console.error("Error:", error.message);
            }
        }

        function geoFindMe() {
            return new Promise((resolve, reject) => {
                const status = document.querySelector("#status");
                const mapLink = document.querySelector("#map-link");

                // mapLink.href = "";
                // mapLink.textContent = "";

                function success(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;

                    status.textContent = "";
                    // mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
                    // mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

                    // Resolve the promise with latitude and longitude
                    resolve([latitude, longitude]);
                }

                function error() {
                    status.textContent = "Unable to retrieve your location, use default location";
                    // You may handle default location here or reject the promise
                    reject(new Error("Unable to retrieve location"));
                }

                if (!navigator.geolocation) {
                    status.textContent = "Geolocation is not supported by your browser";
                    // Reject the promise if geolocation is not supported
                    reject(new Error("Geolocation is not supported"));
                } else {
                    status.textContent = "Locating…";
                    navigator.geolocation.getCurrentPosition(success, error);
                }
            });
        }

        function startLoading() {
            // clear out previous results
            const restaurantCardsDiv = document.getElementById("restaurantCards");
            restaurantCardsDiv.innerHTML = ""; // Clear previous cards

            // create loading div
            const loading = document.createElement('div');
            loading.className = 'loading';
            loading.id = 'loading';
            loading.innerHTML = `<p>Loading...</p>`;
            restaurantCardsDiv.appendChild(loading);

            loading.style.display = 'block';
        }

        function stopLoading() {
            const loading = document.getElementById('loading');
            loading.style.display = 'none';
        }

        async function generate() {
            startLoading();
            const preferences = await getAllPreferences();
            const restaurantData = JSON.stringify(await callFoodApi(preferences), null, 4);
            console.log(restaurantData);
            await callTextApi(restaurantData, preferences);
            stopLoading();
        }

        function getMeters(miles) {
            return Math.round(miles*1609.344);
        }

        async function promptAddUser() {
            const name = prompt("Enter the name of the user you would like to add:");
            const user = await searchUsers(name);
            if (user.length === 0) {
                alert("User not found.");
            } else {
                addUser(user);
            }
        }

        async function addUser(user) {
            currentMembers.push(user[0].user_id);
            createUserCard(user[0].name, user[0].avatar);
            console.log(await getAllPreferences());
        }

        async function promptGroupName() {
            const name = prompt("Enter the name of this group:");
            if (name.length === 0) {
                alert("Invalid name.");
            } else {
                saveGroup(name);
            }
        }

        async function saveGroup(name){
            try {
            const response = await fetch("/api/groups", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({name: name, members: currentMembers}),
        });

            } catch (error) {
                console.error('Save Group Error:', error);
            }
        }

        

        async function getCurrentUser() {
            const response = await fetch("/api/user", {
                method: "GET",
                headers: {
                "Content-Type": "application/json",
                },
            })
            return await response.json();
        }

        async function searchUsers(name) {
            const response = await fetch(`/api/user/search/${name}`, {
                method: "GET",
                headers: {
                "Content-Type": "application/json",
                },
            })
            return await response.json();
        }

        function createUserCard (name, img) {
            const selectedUsers = document.querySelector('.selected-users');
            const userCard = document.createElement('div');
            userCard.className = 'user-card';
            userCard.innerHTML = `
                <div class="user-card-image" style="background-image: url(${img});"></div>
                <div class="user-card-name"><p>${name}</p></div>
            `;
            selectedUsers.appendChild(userCard);
        }

        async function loadAndShowGroups() {
            const response = await fetch('/api/groups', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            });
            const groups = await response.json();
            const groupList = document.getElementById('groupList');
            groupList.innerHTML = ''; 

            groups.forEach(group => {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
                listItem.textContent = group.name;
                const addButton = document.createElement('button');
                addButton.className = 'btn btn-primary btn-sm';
                addButton.textContent = 'Add';
                addButton.onclick = () => addGroupMembersToPage(group.id);
                listItem.appendChild(addButton);
                groupList.appendChild(listItem);
            });

            const loadGroupsModal = new bootstrap.Modal(document.getElementById('groupSelectModal'), {
                keyboard: false
            });
            loadGroupsModal.show();
        }

        async function addGroupMembersToPage(groupId) {
            const response = await fetch(`/api/groups/${groupId}`, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            });
            const group = await response.json();
            let members = JSON.parse(group.members)
            console.log(members);
            for (const memberId of members) {
                if (!currentMembers.includes(memberId)) {
                    try {
                        const user = await getUserFromID(memberId);
                        if (user) {
                            console.log("User found:", user);
                            createUserCard(user.name, user.avatar);
                            currentMembers.push(memberId);  
                        } else {
                            console.log("No user data returned for ID:", memberId);
                        }
                    } catch (error) {
                        console.error("Error fetching user data for ID:", memberId, error);
                    }
                }
            }
        }

        async function getUserFromID(userId) {
            const response = await fetch(`/api/user/${userId}`, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            });
            return await response.json();
        }

        function getPreferredPrice(price) {
            if (price === "$") {
                return "1";
            } else if (price === "$$") {
                return "1,2";
            } else if (price === "$$$") {
                return "1,2,3";
            } else if (price === "$$$$") {
                return "1,2,3,4";
            }
        }

        async function callFoodApi(prefs) {
            console.log(latitude, longitude)
            const url = `https://api.yelp.com/v3/businesses/search?term=${prefs.preferred_cuisine}&latitude=${latitude}&longitude=${longitude}&radius=${getMeters(prefs.max_distance)}&price=${getPreferredPrice(prefs.preferred_price)}&limit=30`;
            
            const response = await fetch(`/api/yelp_search?url=${encodeURIComponent(url)}`)
            return await response.json();
        }

        async function getAllPreferences() {
            let preferences = {}
            for (user of currentMembers) {
                const response = await fetch(`/api/preferences/${user}`, {
                    method: "GET",
                    headers: {
                    "Content-Type": "application/json",
                    },
                })
                let output = await response.json();
                output = output.preferences;
                // min distance
                if (!preferences.max_distance || parseInt(output.max_distance) < parseInt(preferences.max_distance)) {
                    preferences.max_distance = output.max_distance;
                }
                // price
                let price = getPreferredPrice(output.preferred_price ?? "")
                if (!preferences.preferred_price || price.length < preferences.preferred_price.length) {
                    preferences.preferred_price = output.preferred_price;
                }
                
                output.preferred_cuisine = output.preferred_cuisine.map(cuisine => cuisine.toLowerCase());
                if (!preferences.preferred_cuisine) {
                    preferences.preferred_cuisine = output.preferred_cuisine
                } else {
                    preferences.preferred_cuisine = preferences.preferred_cuisine.concat(output.preferred_cuisine);
                }
                preferences.preferred_cuisine = [...new Set(preferences.preferred_cuisine)];
                // preferences.preferred_cuisine = preferences.preferred_cuisine.slice(0, 3);
                // append dietary restrictions
                if (!preferences.dietary_restrictions) {
                    preferences.dietary_restrictions = output.dietary_restrictions;
                } else {
                    preferences.dietary_restrictions = preferences.dietary_restrictions.concat(output.dietary_restrictions);
                }
                // append other
                if (!preferences.other) {
                    preferences.other = "User: " + output.other;
                } else {
                    preferences.other = preferences.other + "\nUser: " + output.other;
                }
                

            }
            return preferences;
        }

        async function getPreferences(id) {
            const response = await fetch(`/api/preferences/${id}`, {
                method: "GET",
                headers: {
                "Content-Type": "application/json",
                },
            })
            return await response.json();
        }
        
        async function callTextApi(restaurantData, prefs) {
            candidate_restaurants_list_str = restaurantData

            price_preference = prefs.preferred_price
            cuisine_preference = prefs.preferred_cuisine
            dietary_preference = prefs.dietary_restrictions
            radius = getMeters(prefs.max_distance)
            other_preference = prefs.other

            // Use the same candidate_restaurants_list variable here
            if (!candidate_restaurants_list_str || candidate_restaurants_list_str.split(/\s+/).length <= 100) {
                console.error('candidate_restaurants_list_str is null or contains less than 100 tokens');
                return; // Exit the function if candidate_restaurants_list_str is null or contains less than 100 tokens
            }

            // Call Text API
            const response = await fetch(
                'https://noggin.rea.gent/continuous-antelope-3807',
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': 'Bearer rg_v1_ooqoohk93vi2bhc0xrpye6m4tkwg7s993vfz_ngk',
                    },
                    body: JSON.stringify({
                        "price_preference": price_preference,
                        "cuisine_preference": cuisine_preference,
                        "dietary_preference": dietary_preference,
                        "candidate_restaurant_list": candidate_restaurants_list_str,
                        "radius": radius,
                        "other_preference": other_preference
                    }),
                }
            );
            const textResponse = await response.text();

//             const textResponse = 
// `No.1: ID: "nXYmPSl2Gy_ge1QwhD6tgw", Name: "Osmanthus Dim Sum Lounge", Address: "504 Broadway, San Francisco, CA 94133", URL: "https://www.yelp.com/biz/osmanthus-dim-sum-lounge-san-francisco?adjust_creative=hoEj3TJi6gA5CoE0FY1TAw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=hoEj3TJi6gA5CoE0FY1TAw", ImageURL: "https://s3-media2.fl.yelpcdn.com/bphoto/EzRcz8nnXnSGFLZEH4Hm1A/o.jpg", Rating: "4.4", ReviewCount: "803". Reason: Osmanthus Dim Sum Lounge offers a variety of delicious dim sum dishes in a cozy atmosphere, perfect for a Chinese cuisine lover looking for a moderately priced option.
// No.2: ID: "ka1_lat2boQwLMsOCiwGiA", Name: "R&G Lounge", Address: "631 Kearny St, San Francisco, CA 94108", URL: "https://www.yelp.com/biz/r-and-g-lounge-san-francisco?adjust_creative=hoEj3TJi6gA5CoE0FY1TAw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=hoEj3TJi6gA5CoE0FY1TAw", ImageURL: "https://s3-media1.fl.yelpcdn.com/bphoto/aA3LSmTyue6Yyz-C3cUnNA/o.jpg", Rating: "3.7", ReviewCount: "5045". Reason: R&G Lounge is a popular spot known for its Cantonese cuisine and seafood dishes, providing a diverse menu at a reasonable price point, ideal for those seeking a Chinese dining experience.
// No.3: ID: "VYd8UzwlwmX8Db5umNHNig", Name: "Hong Kong Lounge", Address: "5322 Geary Blvd, San Francisco, CA 94121", URL: "https://www.yelp.com/biz/hong-kong-lounge-san-francisco?adjust_creative=hoEj3TJi6gA5CoE0FY1TAw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=hoEj3TJi6gA5CoE0FY1TAw", ImageURL: "https://s3-media1.fl.yelpcdn.com/bphoto/yEhj3x-tSt3FabfDezzkgA/o.jpg", Rating: "3.7", ReviewCount: "1893". Reason: Hong Kong Lounge is a go-to spot for Cantonese and seafood dishes, offering a wide selection of options with consistent quality and reasonable prices for a satisfying Chinese dining experience.`;

            // Parse text API response and display top 3 restaurants
            const top3Restaurants = parseTop3Restaurants(textResponse);
            console.log(top3Restaurants)
            displayRestaurantCards(top3Restaurants);
        }

        function parseTop3Restaurants(response) {
            const restaurants = response.split('No.');
            return restaurants.map(restaurant => {
                const idMatch = restaurant.match(/ID: "([^"]*)"/);
                const nameMatch = restaurant.match(/Name: "([^"]*)"/);
                const addressMatch = restaurant.match(/Address: "([^"]*)"/);
                const urlMatch = restaurant.match(/URL: "([^"]*)"/);
                const imgurlMatch = restaurant.match(/ImageURL: "([^"]*)"/);
                const ratingMatch = restaurant.match(/Rating: "([^"]*)"/);
                const rcountMatch = restaurant.match(/ReviewCount: "([^"]*)"/);
                const reasonMatch = restaurant.match(/Reason: (.*)/);
                
                // Check if all required fields are present
                if (idMatch || nameMatch || addressMatch || urlMatch || imgurlMatch || ratingMatch || rcountMatch || reasonMatch) {
                    const id = idMatch ? idMatch[1] : "";
                    const name = nameMatch ? nameMatch[1] : "";
                    const address = addressMatch ? addressMatch[1] : "";
                    const url = urlMatch ? urlMatch[1] : "";
                    const imgurl = imgurlMatch ? imgurlMatch[1] : "";
                    const rating = ratingMatch ? ratingMatch[1] : "";
                    const rcount = rcountMatch ? rcountMatch[1] : "";
                    const reason = reasonMatch ? reasonMatch[1] : "";
                    const rest = { id: id, name: name, address: address, url: url, imgurl: imgurl, rating: rating, rcount: rcount, reason: `Reason: ${reason}` };
                    addRestarantToDB(rest);
                    currentRestaurants.push(rest);
                    return rest;
                } else {
                    return null;
                }
            }).filter(restaurant => restaurant !== null); // Remove entries with missing fields
        }

        function addRestarantToDB(restaurant) {
            fetch(`/api/restaurants`, {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                },
                body: JSON.stringify(restaurant),
            })
        }

        async function removeFavorite(rest_id) {
            const response = await fetch(`/api/favorites`, {
                method: "DELETE",
                headers: {
                "Content-Type": "application/json",
                },
                body: JSON.stringify({'restaurant_id': rest_id}),
            })
            return await response.json();
        }

        async function addFavorite(rest_id) {
            const response = await fetch(`/api/favorites`, {
                method: "POST",
                headers: {
                "Content-Type": "application/json",
                },
                body: JSON.stringify({'restaurant_id': rest_id}),
            })
            return await response.json();
        }

        async function isRestaurantFavorite(rest_id) {
            const response = await fetch(`/api/favorites`, {
                method: "GET",
                headers: {
                "Content-Type": "application/json",
                },
            })
            const faved_rests = await response.json();
            let found = false;
            faved_rests.forEach(rest => {
                if (rest.id === rest_id) {
                    found = true;
                }
            });
            return found;
        }

        function displayRestaurantCards(restaurants) {
            const restaurantCardsDiv = document.getElementById("restaurantCards");
            restaurants.forEach(async (restaurant, index) => {
                const card = document.createElement("div");
                card.className = "result-card";
                card.style.height = "500px"
                card.innerHTML = `
                    <div class="result-card-image" style="background-image: url(${restaurant.imgurl});"><i id="fav-star" class="fa fa-star-o"></i></div>
                    <div class="result-card-desc">
                        <h1><a target='_blank' style='color: inherit;' href="${restaurant.url}">${restaurant.name}</a> </h1>
                        <h2>${restaurant.address}</h2>
                        <div class="stars-container">
                    <i class="fa fa-star rating-star" style="display: none;"></i>
                    <i class="fa fa-star rating-star" style="display: none;"></i>
                    <i class="fa fa-star rating-star" style="display: none;"></i>
                    <i class="fa fa-star rating-star" style="display: none;"></i>
                    <i class="fa fa-star rating-star" style="display: none;"></i>
                    <p class="stars-counter">${restaurant.rating} (${restaurant.rcount})</p>
                </div>
                        <h3>${restaurant.reason}</h3>
                    </div>
                `;
                // add appropriate amount of stars
                const stars = card.querySelectorAll('.rating-star');
                const rating = parseFloat(restaurant.rating);
                const fullStars = Math.round(rating);

                for (let i = 0; i < fullStars; i++) {
                    stars[i].style.display = 'block';
                }
                const favStar = card.querySelector('#fav-star');
                if (await isRestaurantFavorite(restaurant.id)) {
                    favStar.classList.remove('fa-star-o');
                    favStar.classList.add('fa-star');

                }
                favStar.addEventListener('click', () => {
                    if (favStar.classList.contains('fa-star-o')) {
                        favStar.classList.remove('fa-star-o');
                        favStar.classList.add('fa-star');
                        addFavorite(restaurant.id);
                    } else {
                        favStar.classList.remove('fa-star');
                        favStar.classList.add('fa-star-o');
                        removeFavorite(restaurant.id);
                    }
                });

                
                restaurantCardsDiv.appendChild(card);
            });
        }
    </script>

{% endblock %}
