{% extends 'base.html' %} {% block content %}
<div
  id="g_id_onload"
  data-client_id="55228616089-rgch96kcg1vp1v49gp9po47adgegu2si.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="{{ url + '/login/google' }}"
  data-auto_prompt="false"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="pill"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"
></div>
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}
