{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="logo">
    <img src="{{ url_for('static', filename='images/palate_pic.png') }}" alt="Palate Logo" />
    <h1>palate</h1>
  </div>
  <p class="tagline">Quickly find where to eat!</p>
  <div class="auth-buttons">
    <div
    class="g_id_signin"
    data-type="standard"
    data-shape="pill"
    data-theme="outline"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="center"
    data-width="400px"
    ></div>
  </div>

    <div class="row">
      <div class="col-md-4 image-text-container">
        <div class="image-container">
          <img src="{{ url_for('static', filename='images/time.png') }}" alt="Save Time">
        </div>
        <h3>Save Time</h3>
        <p>Tired of wasting time trying to decide where to eat. Sign up to spped up the process!</p>
      </div>
      <div class="col-md-4 image-text-container">
        <div class="image-container">
          <img src="{{ url_for('static', filename='images/group.png') }}" alt="Create Groups">
        </div>
        <h3>Make Groups</h3>
        <p>Create groups with friends to be able to eat together.</p>
      </div>
      <div class="col-md-4 image-text-container">
        <div class="image-container">
          <img src="{{ url_for('static', filename='images/favorite.png') }}" alt="Add Favorites">
        </div>
        <h3>Find New Favorites</h3>
        <p>Favorite any new restaurants you enjoy to keep track of them. </p>
      </div>
    </div>
</div>

<div
  id="g_id_onload"
  data-client_id="55228616089-rgch96kcg1vp1v49gp9po47adgegu2si.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="{{ url + 'login/google' }}"
  data-auto_prompt="false"
></div>
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}
